
body {
  position: relative;
  overflow-x: hidden; 

}

a, a:visited, a:hover{
  color: black;
}

h2 {
  text-align: left;
  padding-bottom: 20px;
  letter-spacing: 1.2px;
  padding-top: 130px;
  font-size: 34px;
  margin: auto;
}

h3{
  padding-bottom: 20px;
  padding-top: 20px;
}

p{
  line-height: 23px;
} 

h1, h2, h3, h4, h5, h6, li, p {
  font-family: 'Jost', sans-serif;
}


/*---------NAV------------*/
.nav-link.active {
  background-color: #d0eeed!important;
  color: black !important;
}

.nav-pills{
  padding-left: 50px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin: 0 auto;
  }
  .navbar-link{
    margin: 0 auto;
  }
  

}


/*-----HOME-----------*/

.jumbotron {
  background: linear-gradient(to bottom left, white 0%, white 60%, #d0eeed 40%, #d0eeed 100%);
  height: 90vh;
  margin-bottom: 0 !important;

}

.fa-2x, .fa-lg{
  letter-spacing: 15px;
  margin: 0 auto;
}


h1{
  font-size: 4em;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 40px;
  letter-spacing: 1.2px;
}

h6{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1.2px;
  padding-top: 0px;
}
/*-----------ABOUT------------*/

.aboutRow{
  margin-left: 50px;
  padding-right: 100px;
}

.material-icons.md-32 { 
  font-size: 32px; 
  position: relative;
  top: 5px;
  color: #a2dcda;
  left:-10px;
}
 .col-md-auto ul{
  line-height: 32px;
  list-style: none;
}
li{
  list-style: none;
}

.fa-lg {
  font-size: 1.6em !important;
}

/*-----------EXPERIENCES-----------*/

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0.5rem;
}

/* experiences vertical line */
ul.timeline:before {
  content: ' ';
  background: #a2dcda;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 3px;
  height: 100%;
  z-index: 400;
}

/* experiences circle marker */
li.timeline-item::before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #a2dcda;
  left: 9px;
  width: 17px;
  height: 17px;
  z-index: 400;
}

.timeline img{
  margin-left: -5%; 
  padding-top: 20px; 
  width: 17rem;
}

.timeline a img:hover{
opacity: 90%;
}

h5{
  font-size: 22px;
}



ul.description li::before {
  content: ' ';
  background: black;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 57px;
  width: 5px;
  height: 5px;
  z-index: 400;
  margin: 9px 0px 0px 0px;
}

ul.description li{
  margin: 9px 0px 0px -15px;
  
}


/* skills */

.skills h3{
  padding-top: 40px;
}

.progress-bar{
  background-color: #a2dcda;
}


/*-------AWARDS---------*/

.card-body{
  margin: 0 auto;
  border: none;
  min-height: 310px;
  padding-left: 10%;
 }

/*------FOOTER--------*/

.footer{
  padding-top: 100px;
  padding-bottom: 75px;
}

