
body {
  position: relative;
  overflow-x: hidden; 

}

a, a:visited{
  color: black;
}

li{
  line-height: 32px;
  list-style: none;
}

h2, h1{
  text-align: center;
  padding-bottom: 40px;
  letter-spacing: 1.2px;
  padding-top: 130px;
}

h3{
  padding-bottom: 20px;
}

p{
  line-height: 23px;
} 

h1, h2, h3, h4, h5, h6, li, p {
  font-family: 'Jost', sans-serif;
}


/*---------NAV------------*/
.nav-link.active {
  background-color: #d0eeed!important;
  color: black !important;
}

.nav-pills{
  padding-left: 50px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin: 0 auto;
  }
  .navbar-link{
    margin: 0 auto;
  }
}


/*-----HOME-----------*/

.jumbotron {
  background: linear-gradient(to bottom left, white 0%, white 60%, #d0eeed 40%, #d0eeed 100%);
  height: 100vh;
  margin-bottom: 0 !important;

}

.fa-2x{
  letter-spacing: 15px;
  margin: 0 auto;
}

h1{
  font-size: 100px;
}

h6{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1.2px;
  padding-top: 0px;
}
/*-----------ABOUT------------*/

.aboutRow{
  margin-left: 50px;
  padding-right: 100px;
}

.material-icons.md-32 { 
  font-size: 32px; 
  position: relative;
  top: 5px;
  color: #a2dcda;
  left:-10px;
}

.col-sm-4 {
 margin: 0 auto;
 padding-top: 15px;

}

/*-----------EXPERIENCES-----------*/

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* experiences vertical line */
ul.timeline:before {
  content: ' ';
  background: #d0eeed;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

/* experiences circle marker */
li.timeline-item::before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #d0eeed;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.timeline img{
  margin-left: -1%; 
  padding-top: 10px; 
  width: 18rem;
}

.timeline a img:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}


/* skills */

.skills h3{
  padding-top: 40px;
}

.progress-bar{
  background-color: #a2dcda;
}


/*-------AWARDS---------*/

.card-body{
  margin: 0 auto;
  border: none;
  min-height: 310px;
  padding-left: 10%;
 }

/*------FOOTER--------*/

.footer{
  padding-top: 100px;
  padding-bottom: 75px;
}

